
#ComputerCover
{
  background-image: url('/images/Computer-2014.jpg');
  background-position: 50% 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height:160px;
  width:130px;
}

#bgsubmotion
{
  background-image: url('/images/Image_processing.png');
  background-position: 50% 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height:115px;
  width:460px;
}

#occlusion
{
  background-image: url('/images/Occlusion.png');
  background-position: 50% 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height:200px;
  width:450px;
}

#relayvson
{
  background-image: url('/images/relayvsalwayson.png');
  background-position: 50% 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height:295px;
  width:450px;
}

#firstProto
{
  background-image: url('/images/SlugCam_Hardware_Screenshot.png');
  background-position: 50% 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height:410px;
  width:450px;
}

#softRec
{
  background-image: url('/images/soft_diag_recording.png');
  background-position: 50% 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height:340px;
  width:450px;
}


#alarmdetection
{
  background-image: url('/images/Alarm_Selection.png');
  background-position: 50% 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: 1px solid #000;
  width: 500px;
  height: 250px;
}
#dc
{
  background-image: url('/images/dc.jpg');
  background-position: 50% 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: 1px solid #000;
  width: 500px;
  height: 250px;
}

#caio
{
  background-image: url('/images/Caio.jpg');
  background-position: 50% 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: 1px solid #000;
  width: 160px;
  height: 115px;
}
