// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Kreon:400,700|Open+Sans);


@import 'colors';
@import 'github-ribbon';

a {
  color: $blue;
}
a:visited {
  color: $violet;
}
a:hover {
  color: $orange;
}

body, .pure-g [class*="pure-u"] {
  font-family: 'Open Sans', sans-serif;
}
body {
  background-color: $base01;
}

h1, h2, h3, h4 {
  font-family: 'Kreon', serif;
}
h1, h2 {
  font-weight: 700;
}

header {
  background-color: $base01;
  text-align: center;

  h1 {
    margin-bottom: .1em;
    margin-top: .5em;
    color: $base07;
  }

  p {
    margin-top: .1em;
    color: $base06;
  }

  .logo {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-color: $base05;
    background-size: 80%;
    background-image: url('/images/logo.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }


}

nav {
  background-color: $base06;
  border-bottom: 1px solid $base04;

  a {
    display: inline-block;
    width: 8em;
    color: $yellow;
    text-decoration: none;
  }
  a:visited {
    color: $yellow;
  }
  a:hover {
    color: $yellow;
    text-decoration: underline;
    //font-weight: bold;
    //color: $magenta;
    //background-color: $cyan;
  }

  .nav-wrapper {
    @extend %centered-column;
    text-align: center;
  }

  ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style-type: none;
    li {
      display: inline-block;
      margin: 0;
      padding: .2em 0;
      //border-right: 1px solid $yellow;
      //float: left;
    }
    li:first-child {
      //border-left: 1px solid $yellow;

    }
  }
}

h3 {
  text-align: center;
}
.content-row {
  background-color: $base07;
}

%centered-column {
  max-width: 40em;
  margin: auto;
}
.content {
  @extend %centered-column;
  color: $base02;
}
footer {
  font-size: .85em;
  text-align: center;
  color: $base06;
  background-color: $base01;
}

.news-header {
  padding-top: 1em;
  border-top: 1px dotted $base06;
  margin-bottom: .1em;
  padding-bottom: 0;

  .title {
    font-weight: bold;
    font-family: 'Kreon', serif;
  }
  date {
    font-style: italic;
    color: $base03;
    font-size: .85em;
  }
  &:first-child {
    //    border: 0;
    margin-top: -1em;
  }
}

.news-body {

  margin-left: 2em;
  p {
    margin-top: 0;
  }

}

.inrglogo_small {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-color: $base05;
  background-size: 75%;
  text-align: center;
  background-image: url('/images/inrglogo_v6.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


.float-right dd img
{
  border: 1px solid #000;
  width: 100px;
  height: 100px;
}
