extends ./layout.jade
block content
  //h1= page.title

  != page.html

  h3 News
  - var items = _.sortBy(contents['news'], function (item) { return -item.date })
  each item in items

    h4=item.title
    date=item.date
    !=item.html

