extends ./layout.jade
block content
  //h1= page.title

  != page.html

  h3 News
  - var items = _.sortBy(contents['news'], function (item) { return -item.date })
  .news-wrapper
      each item in items

        .news-header
            span.title!=item.title + ' &middot; '
            date!=moment.utc(item.date).format('MMMM D, YYYY')
        .news-body
            !=item.html

